$colors: (
  neutral: (
    100: #fff,
    200: #d8d8d8,
    300: #8d7b74,
    400: #5e443a,
    500: #351e15,
  ),
  primary: (
    100: #faf4f1,
    200: #f3c7b8,
    300: #f8aec4,
    400: #fa87aa,
    500: #e65681,
    900: #e70348,
  ),
  secondary: (
    400: #fade64,
    500: #ffd000,
    700: #ffbf52,
  ),
);
