$sizes: (
  0: 0,
  4: 0.25rem,
  8: 0.5rem,
  12: 0.75rem,
  16: 1rem,
  20: 1.25rem,
  24: 1.5rem,
  32: 2rem,
  36: 2.25rem,
  48: 3rem,
);

$padding-hero: clamp(15rem, 15vh, 20rem);
$padding-section: clamp(3rem, 7vh, 5rem);

$bg-min-height: 14.5rem;
$bg-max-height: 20rem;

$card-body-padding: clamp(2rem, 3.5vw, 5rem);
$card-base-width: 16rem;

$grid-gap: 2rem;
$flex-group-gap: 1rem;

$container-padding-inline: clamp(2rem, 1rem + 0.9vw, 3rem);
$container-max-width: 75rem;
$container-max-width-small: 65rem;
$container-max-width-large: 95rem;
$container-max-width-full-bleed: 100%;

$br-small: 0.25rem;
$br-medium: 1rem;
$br-circle: 50%;
