@use '../abstracts/' as *;

.all-posts {
  padding-block-start: $padding-section;

  .breadcrumb {
    grid-column: 2 / -2;
    grid-row: 1;
  }
  &__sorting-menu {
    grid-column: 2;
    grid-row: 2;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  &__label {
    font-weight: $fw-700;
  }

  .item-area {
    grid-column: 2;
    grid-row: 3;
  }
}

.articles {
  display: grid;
  gap: $grid-gap;
}

.blog-featured {
  @include mq(medium) {
    grid-template-columns: repeat(2, 1fr);
    & > *:first-child {
      grid-column: 1;
      grid-row: span 2;
    }

    & > *:not(:first-child) {
      grid-column: 2;
      grid-template-columns: 1fr;
      gap: 2rem;

      .article__img {
        display: none;
      }
    }
  }
}

.article {
  --grid-gap: 1.5rem;
  height: 100%;
  display: grid;
  gap: var(--grid-gap);

  &__img {
    width: 100%;
    height: 20rem;
    border-radius: $br-medium;
    background-color: clr(primary, 200);
    padding: 0.75em; // delete later just for the text to not be in the corner
  }

  &__metadata {
    display: grid;
    grid-template-columns: max-content $grid-gap max-content;
    font-size: fs(200);
    line-height: 1;
    @include decoration(
      $inset: 0,
      $transform: rotate(45deg),
      $width: 0.25em,
      $height: 0.25em,
      $bg-clr: clr(neutral, 500)
    ) {
      grid-column: 2;
      grid-row: 1;
      position: unset;
      display: block;
      margin: auto;
    }
  }

  &__title {
    font-family: $ff-secondary;
    font-size: fs(600);
  }

  &__footer {
    display: flex;
    gap: var(--grid-gap);
    align-items: center;
    padding-block-start: var(--grid-gap);
    font-size: fs(300);
  }

  &__footer-img {
    width: 3rem;
    height: 3rem;
    background-color: clr(primary, 200);
    border-radius: $br-circle;
  }

  .btn {
    justify-self: start;
  }
}

.blog-most-popular {
  --card-base-width: 35rem;
  margin-inline-start: 1rem;
  counter-reset: article-items;

  @include mq(medium) {
    margin-inline-start: 1.5rem;
  }

  .article {
    grid-template-columns: 1fr;
    gap: 0 2rem;
    position: relative;

    &__img {
      width: 100%;
      height: 20rem;
    }

    &__metadata,
    &__footer {
      display: none;
    }
    @include mq(small) {
      grid-template-columns: min-content minmax(0, 30rem);
      grid-template-rows: auto 1fr;

      &__img {
        width: 15rem;
        height: 100%;
        grid-column: 1;
        grid-row: 2 / 3;
      }

      &__content {
        grid-column: 2;
        grid-row: 2 / 3;
      }
    }

    &::before {
      counter-increment: article-items;
      content: '0' counter(article-items);
      display: block;
      margin-inline-start: -1.5rem;
      margin-block-end: -3rem;
      font-size: 4rem;
      font-weight: $fw-700;
      line-height: 1;
      color: clr(neutral, 100);
      mix-blend-mode: difference; // might require replacing with text shadow or an overlay over the image
      grid-column: 1;
      grid-row: 1;
      z-index: 2;
    }
  }
}
