@use '../abstracts/' as *;

.contact-form {
  padding-block: 3rem;
  padding-inline: 2rem;
  border-radius: $br-medium;
  display: grid;
  gap: 1.5rem;

  fieldset {
    --flow-spacer: 0.5em;
    border: none;
    padding: 0.01em 0 0 0;
    margin: 0;
    min-width: 0;
  }

  legend {
    display: table;
    padding: 0;
    font-weight: $fw-600;
    color: clr(neutral, 300);

    span {
      color: clr(primary, 900);
    }
  }

  input,
  textarea,
  select {
    width: 100%;
    border: 0.0625rem solid rgba(216, 216, 216, 0.5);
    border-radius: $br-small;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    display: block;
    &:focus,
    &:hover {
      outline: none;
      outline: 0.125rem solid clr(secondary, 700);
    }
  }

  select {
    padding-block: 0.7rem;
  }

  .btn {
    justify-self: start;
  }
}

.form-control-wrapper {
  display: grid;

  fieldset:first-of-type & {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
}
