@use '../abstracts/' as *;

.hero {
  --flow-spacer: 2rem;
  @include decoration(
    $inset: 0,
    $transform: translateX(0),
    $width: 100%,
    $height: 100%,
    $bg-clr: clr(primary, 100)
  ) {
    z-index: -1;
  }

  main[data-page='home'] & {
    &::before {
      width: 70%;
    }

    .page-title {
      text-align: center;
      @include mq(medium) {
        text-align: left;
      }
    }
  }

  &__header:only-child {
    text-align: center;
  }

  &__header:not(:only-child) {
    &.deco--line-left::before {
      @include mq(medium) {
        left: 0;
        transform: translateX(0);
      }
    }
  }

  &__buttons {
    --grid-gap: 1rem;
    & > *:last-child {
      justify-self: center;
    }

    @include mq(medium) {
      justify-self: start;

      & > * {
        width: max-content;
      }
    }
  }

  &__img {
    height: 65dvh;
    width: 100%;
    border-radius: $br-medium;
    @include mq(small, between, medium) {
      max-width: 85%;
      margin-left: auto;
    }
    & > img {
      height: 100%;
      border-radius: inherit;
    }
    &--contact {
      max-height: 55dvh;
      border-radius: 0;
      @include mq(small, between, medium) {
        max-width: 100%;
        margin-left: 0;
      }
    }
  }

  .social-list {
    justify-content: center;

    &__link__name {
      @extend %screen-reader-only;
    }
    @include mq(374px, max-width) {
      flex-direction: row;
      align-items: start;
    }

    @include mq(medium) {
      justify-content: start;
    }
  }

  &--store {
    --flow-spacer: #{$padding-section};

    &__wrapper {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }
  }

  &--store__img {
    max-height: 55dvh;
    overflow: hidden;
    img {
      aspect-ratio: 1;
    }
    &:first-of-type {
      img {
        object-position: 25% 40%;
      }
    }

    @include mq(medium, max-width) {
      &:not(:first-of-type) {
        display: none;
      }
      &:first-of-type {
        img {
          object-position: 25% 30%;
        }
      }
    }

    @include mq(large) {
      &:not(:first-of-type) {
        img {
          object-position: 25% 70%;
        }
      }
    }
  }
}
