@use '../abstracts/' as *;

.hero {
  --flow-spacer: 2rem;
  @include decoration(
    $inset: 0,
    $transform: translateX(0),
    $width: 100%,
    $height: 100%,
    $bg-clr: clr(primary, 100)
  ) {
    z-index: -1;
  }

  main[data-page='home'] & {
    &::before {
      width: 70%;
    }

    .page-title {
      text-align: center;
      @include mq(medium) {
        text-align: left;
      }
    }
  }

  &__header:only-child {
    text-align: center;
  }

  &__header:not(:only-child) {
    &.deco--line::before {
      @include mq(medium) {
        left: 0;
        transform: translateX(0);
      }
    }
  }

  &__buttons {
    --grid-gap: 1rem;
    & > *:last-child {
      justify-self: center;
    }

    @include mq(medium) {
      justify-self: start;

      & > * {
        width: max-content;
      }
    }
  }

  &__img {
    height: 65dvh;
    width: 100%;
    border-radius: $br-medium;
    @include mq(small, between, medium) {
      max-width: 85%;
      margin-left: auto;
    }
    & > img {
      height: 100%;
      border-radius: inherit;
    }
    &--contact {
      max-height: 55dvh;
      border-radius: 0;
      @include mq(small, between, medium) {
        max-width: 100%;
        margin-left: 0;
      }
    }
  }

  .social-list {
    justify-content: center;

    &__link__name {
      @extend %screen-reader-only;
    }

    @include mq(medium) {
      justify-content: start;
    }
  }
}
