@use '../abstracts/' as *;

.page-nav {
  @include mq(large) {
    flex-basis: 100%;
    margin-inline-start: 2rem;
  }
  &__slideout {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;

    background-color: transparent;
    will-change: transform;

    @include mq(large, max-width) {
      grid-auto-flow: row;
      grid-auto-rows: min-content;
      gap: min(10dvh, 5rem);
      justify-content: unset;
      background-color: clr(neutral, 100);

      padding-inline: $container-padding-inline;

      padding-block: 1em;
      width: 90%;
      height: 100vh;

      position: fixed;
      z-index: 20;
      inset: 0 0 0 100%;

      &[data-state='is-open'] {
        animation-name: openMenu;
        animation-duration: $slideout-animation-duration;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
      }

      &[data-state='is-closing'] {
        animation-name: closeMenu;
        animation-duration: $slideout-animation-duration;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
      }
      &[data-state='is-closed'] {
        display: none;
      }

      ul {
        justify-self: center;
        li {
          align-self: center;
        }
      }
    }
    @include mq(small, max-width) {
      padding-inline: calc($container-padding-inline);

      ul {
        padding-inline-start: 0;
        justify-self: start;

        li {
          align-self: start;
        }
      }
    }
  }

  &__extras {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    align-items: center;
    gap: 1.25rem;

    @include mq(large) {
      gap: 2.5rem;
    }
  }

  .btn--menu {
    align-self: start;
    justify-self: end;
  }
}

@keyframes openMenu {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(-100%);
  }
}

@keyframes closeMenu {
  0% {
    transform: translate(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
