@use '../abstracts/' as *;

.section {
  padding-block: $padding-section;

  main > &:first-of-type {
    --padding-section: #{$padding-section};
    padding-block-start: calc(var(--padding-section) + var(--header-height));
    padding-block-end: var(--padding-section);
    @include mq(medium) {
      padding-block-start: calc(
        var(--padding-section) * 1.75 + var(--header-height)
      );
      padding-block-end: calc(var(--padding-section) * 1.75);
    }
  }

  &:not(.hero) .even-columns {
    align-items: center;

    > *:not(p, section):last-child {
      width: max-content;
      align-self: end;
      justify-self: start;

      @include mq(medium) {
        justify-self: end;
      }
    }

    > section {
      align-self: stretch;
    }
  }

  &__title {
    font-size: fs(800);
    font-family: $ff-secondary;
    font-weight: $fw-600;
    line-height: 1.2;
    color: clr(neutral, 500);
    position: relative;
  }

  &__title--small {
    font-size: fs(650);
  }
  &__subtitle {
    font-size: fs(400);
    font-family: $ff-secondary;
    color: clr(neutral, 300);
  }
}

.connect-section {
  .even-columns {
    > *:last-child {
      display: grid;
      @include mq(medium) {
        justify-self: end;
      }
    }

    .social-list {
      align-self: end;
    }
  }
}

.newsletter {
  --flow-spacer: 1.5rem;
}

.contact {
  header {
    --flow-spacer: 1.5rem;
  }
  .social-list {
    // margin-top: $grid-gap;
    @include mq(large, max-width) {
      justify-content: space-between;
    }
  }
}
