@use '../abstracts/' as *;

.page-wrapper {
  display: grid;
  grid-template-columns:
    minmax($container-padding-inline, 1fr)
    min(calc(100% - $container-padding-inline * 2), $container-max-width)
    minmax($container-padding-inline, 1fr);
  justify-content: center;
}
